*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #06060e;
}
.message-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  z-index: 10002;
}

.message-btn:hover {
  background-color: #0056b3;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #06060e;
}

::-webkit-scrollbar-thumb {
  background: rgba(111, 0, 255, 0.3);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(179, 0, 255, 0.4);
  cursor: all-scroll;
}

#root {
  user-select: none;
  background-color: #06060e;
  color: rgba(255, 255, 255, 0.85);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  pointer-events: none;
  height: 100%;
}

.background-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 400vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  gap: 2px;
  z-index: 0;
}

.background-bg div {
  background-color: #06060e;
  border: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 0px 0px 1px rgba(0, 255, 4, 0);
  transition: 1s ease;
  border-radius: 5px;
}

.background-bg div:hover {
  transition: box-shadow 0.2s;
  border: 1px solid rgba(111, 0, 255, 0.3);
  box-shadow: 0px 0px 2px rgba(111, 0, 255, 0.5);
}

.background-bg div.clicked {
  background-color: rgba(111, 0, 255, 0.5);
}

.portfolio-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2em;
  padding-top: 60px;
  z-index: 1;
  flex: 1;
}

.header-container {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.portfolio-header img {
  border-radius: 50%;
  border: 2px solid rgba(5, 71, 137, 0.931);
  margin-top: 12px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  transform: translateY(2px);
  color: rgba(255, 255, 255, 0.591);
  margin-top: 0px;
  font-size: 1.4em;
  font-weight: 600;
  transition: 0.3s ease;
  pointer-events: initial;
}

.links a:hover {
  color: rgba(111, 0, 255, 0.5);
  transform: translateY(-2px);
}

section{
  margin: 0;
  padding: 0;
}

hr {
  width: 420px;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.6em;
  margin-bottom: 0.8em;
  max-width: 700px;
}

h3{
  font-size: 2.2em;
  margin-bottom: 20px;
}

h4{
  font-size: 1.4em;
  padding-bottom: 16px;
}

p {  
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;
  font-weight: 500;
}

span {
  color: rgb(32, 84, 215);
  text-shadow: 1px 1px 5px rgba(5, 108, 210, 0.2);
}

.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.projects {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 26px;
}

.project {
  padding: 10px;
  background-color: rgba(126, 126, 126, 0.02);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  text-align: center;
  pointer-events: initial;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.project:hover{
  transform: scale(1.1);
  border: 2px solid rgba(111, 0, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(111, 0, 255, 0.5);
}

.project h1{
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 10px;
}

.project img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  }

.skills img{
  max-height: 50px;
  width: auto;
}

.project h2{
  font-size: 1em;
  font-weight: 500;
  margin: 0 auto 1rem auto;
  padding-inline: 1rem;
}

.skills{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.skills .stack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  aspect-ratio: 2/1;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(126, 126, 126, 0.02);
  border-radius: 10px;
  padding: 10px;
  pointer-events: all;
  transition: .2s ease;
  text-decoration: none;
}

.stack:hover{
  border: 2px solid rgba(111, 0, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(111, 0, 255, 0.5);
  cursor: pointer;
  scale: 1.1;
}

.open-icon{
  position: absolute;
  transform: translateX(90px) translateY(-40px);
  width: 10px;
  height: 20px;
  opacity: 20%;
  
}

.skills li{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 10px;
  list-style: none;
}

.fon{
  list-style: none;
}

.skills-name-not-color,
.skills-name{
  display: flex;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  text-decoration: none;
}

.first-letter {
  color: rgb(196, 211, 255);
  margin-right: 1px;
  font-weight: 500;
  display: flex;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Aplica sombra */
  animation: float 3s ease-in-out infinite; /* Efeito de flutuar */

}

@keyframes float {
  0% {
    text-shadow: 2px 1px 5px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 5px 1px 10px rgba(255, 255, 255, 0.4); /* Sombra más fuerte */
  }
  100% {
    text-shadow: 2px 1px 5px rgba(255, 255, 255, 0.2); /* Sombra inicial */
  }
}


.form-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 956px;
  width: 100%;
  background-color: rgba(126, 126, 126, 0.05);
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  text-align: left;
  pointer-events: initial;
  margin-bottom: 100px;
}

.form-contact label {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-contact .form-div{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-contact input,
.form-contact textarea {
  padding: 10px;
  background-color: #06060e;
  color: rgba(255, 255, 255, 0.85);
  border: 2px solid rgba(111, 0, 255, 0.3);
  border-radius: 6px;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  resize: none;
  transition: border 0.3s ease;
}

.form-contact input:focus,
.form-contact textarea:focus {
  border-color: rgba(179, 0, 255, 0.4);
  outline: none;
}

.form-contact button {
  background-color: rgba(111, 0, 255, 0.3);
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  padding: 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-contact button:hover {
  background-color: rgba(179, 0, 255, 0.4);
}

.form-contact p {
  font-size: .8rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.form-contact p[style*="color: red"] {
  color: rgba(255, 0, 0, 0.8);
}


@media (max-width: 1100px) { 

  .portfolio-header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

  .header-container {
    margin-right: 0;
  }

  h1, h2, h3, h4 {
    font-size: 1.5em; /* Ajustar el tamaño de fuente en pantallas pequeñas */
    text-align: center;
  }

  .links a {
    font-size: 1.2em; /* Ajustar el tamaño de los enlaces */
  }

  .projects {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajustar columnas para pantallas más pequeñas */
    
  }

  .skills{
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 40px;
    justify-items: center; /* Alinear items al centro horizontalmente */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .stack-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .form-contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 0px;
  }

  .form-contact textarea{
    height: 80px;
  }
}


@media (max-width: 500px) {

  .background-bg{
    display: none;
  }

  .skills{
    display: grid;
      grid-template-columns: repeat(3, 1fr); /* Tres columnas */
      gap: 40px;
      justify-items: center; /* Alinear items al centro horizontalmente */
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
  }

  .skills .stack{
    display: flex;
    width: 132px;
  }
  .open-icon{
    transform: translateX(60px) translateY(-30px);
    height: 15px;
    opacity: 50%;
  }

  .stack-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10px;
  }

  .header-container{
    margin: 0 auto;
  }

  .header-container img{
    width: 200px;
  }

  .header-container p{
    margin-top: 10px;
  }

  .app{
    max-width: 480px;
  }

  .portfolio-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
  }

  hr{
    display: flex;
    width: 60%;
    margin: 20px auto;
  }

  h1 {
    font-size: 1.4em; /* Ajustar el tamaño de fuente aún más en pantallas muy pequeñas */
  }

  h2{
    font-size: 1.4em;
  }

  h3{
    font-size: 1.4em;
  }

  h4{
    font-size: 1.1em;
  }

  p{
    max-width: 310px;
    text-align: center;
    font-size: 0.9rem;
  }

  .form-contact label{
    font-size: 1rem;
  }

  .form-contact input,
  .form-contact textarea{
    font-size: .9rem;
  }

  .form-contact button{
    font-size: 1rem;
  }

  .links{
    margin-block: 10px;
  }

  .links a {
    font-size: 1em; /* Ajustar aún más el tamaño de los enlaces */
  }

  .projects {
    grid-template-columns: 1fr; /* Mostrar una columna en pantallas muy pequeñas */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajustar columnas para pantallas más pequeñas */
    padding-inline: 0px;
  }

  .projects-container{
    margin-top: 40px;
  }

  .project{
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  .project h1{
    font-size: 1.2em;
    text-align: center;
    margin-block: 10px;
  }

  .project img{
    width: 90%;
  }

  .skills{
    gap: 20px;
  }

  .stack-container{
    gap: 14px;
  }


  .portfolio-header {
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar elementos */
  }

  .form-contact{
    width: 100%;
    max-width: 280px;
  }
}
